<div class="fixed inset-0 w-full h-full bg-white flex  gap-6">
      <!-- Bordered container -->
      <div class="w-[60%]  p-4 s">
            <!-- You can add content here -->
            <div class="logo mx-24 mt-48 mb-4">
                  <p><span class="logo-highlight">O</span>RBIT</p>
            </div>

            <p class="text-black-900 text-5xl w-[90%] ml-24 line-1">We can't seem to find the page you are looking for.
            </p>
            <br>
            <p class="text-black font-semibold mx-24 text-lg">visit: <span><a href="https://orbit-zqsz.vercel.app/"
                              class="no-underline text-blue-400">orbit.com</a></span></p>
      </div>


      <!-- Image container -->
      <div>
            <img src="https://res.cloudinary.com/dnevq4wek/image/upload/v1760094432/zoho-404-video_ayn5sx.gif"
                  alt="Placeholder image" class="" />
      </div>
</div>